* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    transition: 0.3s;
}

:root {
    --black: #222;
    --white: #fffcfa;
    --dark-white: #fff5ee;
    --darker-white: #fcebde;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
}

button {
    padding: 1.5rem 5rem;
    font-size: 1.5rem;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--black);
    border: 2px var(--black) solid;
}

button:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
}

/* .animateCTA{
    animation: 0.2s 5 twitch alternate linear;
} */

@keyframes twitch {
    0% {
        rotate: 3deg;
    }

    100% {
        rotate: -3deg;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/*.mouse-blob {
    background-color: var(--black);
    height: 50px;
    width: 50px;
    position: absolute;
    left: 120%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    border: 2px solid var(--black);
    z-index: 200;
    pointer-events: none;
}*/

section {
    padding: 0 10rem;
    font-size: 1.5rem;
}

#navIcon{
    display: none;
    height: 1.25rem;
}

.navBar {
    padding: 1.5rem 10rem;
    width: 100%;
    transform: translateY(-100%);
    position: fixed;
    right: 0;
    animation: fromTop 2s cubic-bezier(0.38, 0.31, 0.33, 0.98) forwards;
    animation-delay: 4s;
    z-index: 10;
}

.shadow {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .1);
    background-color: var(--white);
}

@keyframes fromTop {
    to {
        transform: translateY(0%);
    }
}

.navBar ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 2rem;
    z-index: 5;
}

.navBar ul li {
    cursor: pointer;
}

.navBar ul li:hover {
    scale: 110%;
}

.navBar ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--black);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navBar ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header {
    color: var(--black);
    padding: 10rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
}

.headerText {
    z-index: 1;
    /* text-align: center; */
    font-size: 10vw;
}

.headerSubText {
    margin-top: 1rem;
    font-size: 2rem;
    box-sizing: content-box;
    display: flex;

}

.words {
    max-height: 2.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.words span {
    display: block;
    font-weight: 500;
    /* height: 100%; */
    /* border: 1px solid salmon; */
    padding-bottom: 10px;
    animation: spin 10s infinite;
    animation-delay: 5s;
}

@keyframes spin {
    0% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(-100%);
    }

    40% {
        transform: translateY(-200%);

    }

    60% {
        transform: translateY(-300%);

    }

    80% {
        transform: translateY(-400%);
    }

    100% {
        transform: translateY(-500%);
    }
}

.headerWave {
    height: 10vw;
    transform-origin: bottom right;
    margin-right: 20px;
}

.headerText:hover .headerWave {
    animation: wave 0.5s 2 alternate ease-in-out;
}

.headerWaveOn {
    animation: wave 1s 2 alternate ease-in-out;
}

@keyframes wave {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 20deg;
    }

    100% {
        rotate: 0deg;
    }
}

.headerBg {
    position: absolute;
    right: 13vw;
    top: -4%;
    height: 120vh;
    /* z-index: 10; */
    pointer-events: none;
    mix-blend-mode: multiply;
}

.path {
    stroke: var(--darker-white);
    stroke-dasharray: 583;
    stroke-dashoffset: 583;
    animation: dash 4s cubic-bezier(0.38, 0.31, 0.33, 0.98) forwards;
    animation-delay: 1s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        stroke: var(--dark-white);
    }
}

.byLine {
    font-size: 1rem;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}



/* Small */
@media (max-width: 1000px) {
    .header {
        padding: 2rem 10vw;
    }

    .headerText {
        font-size: 15vw;
    }

    .headerWave {
        height: 15vw;
    }

    .headerBg {
        right: 40%;
        translate: 50% 0;
        z-index: -1;
    }

    .navBar ul {
        justify-content: center;
    }

    :root {
        --black: #fffcfa;
        --white: #151515;
        --dark-white: #111;
    --darker-white: #000;

    }
}

/* Smallest */
@media (max-width: 800px) {
    .headerSubText {
        font-size: 1.5rem;
        flex-direction: column;
        gap: 0.5rem;
    }

    .words {
        max-height: 2.25rem;
        max-width: 70vw;
        flex-direction: row;
    }

    .words span {
        animation: verticalSpin 15s infinite cubic-bezier(0, 0.5, 0, 1);
        animation-delay: 5s;
        min-width: 70vw;
    }

    #CTA {
        padding: 1rem 3rem;
    }

    .byLine {
        width: 60%;
        z-index: 10000;
    }

    #navIcon{
        display: block;
        position: fixed;
        top: 2rem;
        right: 10vw;
        z-index: 1000;
    }

    .navBar {
        padding: 0;
        display: flex;
        justify-content: center;
        min-width: 100vw;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        translate: 0 -10vh;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease-out;
    }

    .navBar.show{
        translate: 0 0;
        opacity: 1;
        pointer-events: initial;
    }

    .navBar ul {
        flex-direction: column;
        width: 100vw;
        text-align: center;
        background-color: var(--white);
        border-radius: 5px;
        padding: 1rem 2rem;
        gap: 0;
        align-items: center;
    }

    .navBar ul li {
        margin: 1rem;
        width: fit-content;
    }
}

@keyframes verticalSpin {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);

    }

    60% {
        transform: translateX(-300%);

    }

    80% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(-500%);
    }
}

/* Big */
@media (min-width: 1000px) {
    h1 {
        translate: -8px 0;
    }
}
