*{
    transition: 0s;
}

.mouse-blob {
    left: 50%;
    top: -30%;
}

.works{
    padding: 5rem 10rem ;
}

h1{
    text-align: center;
    margin-bottom: 5rem;
}

h2{
    font-size: 5vw;
    /* font-weight: 400; */
}

.navBar {
    padding: 1.5rem 10rem;
    width: 100%;
    transform: translateY(-100%);
    position: fixed;
    right: 0;
    animation: fromTop 0.5s cubic-bezier(0.38, 0.31, 0.33, 0.98) forwards;
    animation-delay: 1s;
    z-index: 2;
}

@keyframes fromTop {
    to {
        transform: translateY(0%);
    }
}

.work{
    padding: 2rem;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
}


.work-image{
    width: 30%;
    object-fit: cover;
}

.work p{
    margin-bottom: 2rem;
}

.tags{
    display: flex;
    gap: 1rem
}

.tag{
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    border: 2px solid #fcebde;
    border-radius: 20px;
    width: fit-content;
}

.hoverImg{
    position: absolute;
    z-index: -1;
    right: 30px;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
    /* display: none; */
}

.work:hover .hoverImg{
    opacity: 1;
}

.otherWorks{
    padding: 5rem 10vw ;
    padding-top: 0;
}

.otherWorksHeading{
    text-align: center;
}

.otherWorksContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 20px;
}

.otherWork{
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}

.otherWork p b{
    font-size: 2vw;
    margin-bottom: 0.5rem;
}

.otherWork p{
    margin-bottom: 1.5rem;
}

.otherWork .tags{
    flex-direction: row;
    flex-wrap: wrap;
}

.byLine {
    font-size: 1rem;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

/* Smallest */
@media (max-width: 800px) {
    .works{
        padding: 2rem 10vw;
    }

    h2{
        font-size: 8vw;
        margin-bottom: 2vw;
        /* font-weight: 400; */
    }
    section{
        font-size: 1.25rem;
    }
    .tags{
        flex-direction: column;
    }
    .work{
        border-bottom: 1px #333 solid;
        border-top: 1px #333 solid;
    }
    .otherWorksContent{
        grid-template-columns: 1fr;
    }
    .otherWork p b{
        font-size: 5vw;
    }
}